html{
	height:100%;
}
body{
	height: 100%;
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
.header{
	position: relative;
	background: url(../img/banner.png) bottom center no-repeat;
}
.top-bar{
	width:1200px;
	height:800px;
	margin: 0 auto;
}
.top-bar-left{
	float:left;
}
.top-bar-left img{
	margin-top:15px;
	margin-left:5px;
}
.top-bar-right ul{
	float:right;
	margin:0;
	padding:0;
}
.top-bar-right ul li{
	float:left;
	line-height: 90px;
	padding: 0 20px;
	color:#b6c4f6;
}
.top-bar-right ul li a{
	color:#b6c4f6;
	padding:8px 0;
	line-height: 90px;
	text-decoration: none;
	font-size: 16px;
}
.top-bar-right ul li a:hover{
	color:white;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px solid white;
}
.radio-bar{
	position: absolute;
	display: inline;
	width:100%;
	bottom:50px;
	text-align: center;
}
.radio-bar ul{
	display: inline-block;
	padding:0;
	margin:0;
}
.radio-bar ul li{
	background-color: #808495;
	float:left;
	margin:10px;
	width:15px;
	height:15px;
	color:#808495;
	font-size: 1px;
	border-radius: 50%;
	cursor: pointer;
}
.radio-bar ul li:nth-child(1){
	background-color: white;
}
.my-service{
	width:1200px;
	height:400px;
	margin: 0 auto;
	padding:50px 0;
}
.title{
	display: block;
	font-size: 32px;
	text-align: center;
	line-height: 55px;
}
.title-line{
	border-bottom:2px solid black;
	width:30px;
	margin: 0 auto;
	margin-bottom:60px;
}
.server-main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.server-item{
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.server-title{
	margin-top:20px;
	text-align: center;
	font-size: 18px;
}
.project-content{
	width:100%;
	/*height:1200px;*/
	background: #f5f5f5;
	padding:50px 0;
}
.project-main{
	width:1200px;
	margin: 0 auto;
}
.project-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.project-item{
	margin-bottom:20px;
	cursor: pointer;
}
.project-item-img img{
	display: block;
}
.project-item-name{
	height:70px;
	background:white;
	line-height: 70px;
	padding-left:30px;
	font-size: 16px;
}
.project-item-name img{
	float:right;
	margin-top:28px;
	margin-right:20px;
}
.find-more{
	display:block;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}
.find-more span{
	padding: 5px 20px;
	color:white;
	border-radius: 15px;
	background-color: #5d77e3;
	cursor: pointer;
}
.service-en-content{
	width:100%;
	padding: 50px 0;
}
.service-en-main{
	width:1200px;
	margin: 0 auto;
}
.en-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.en-list div{
	margin: 5px 0;
}
.slogon{
	text-align: center;
	margin-top:50px;
	font-size: 20px;
}
.create{
	background: url(../img/create_bg.png) bottom center no-repeat;
	width:100%;
}
.create-main{
	width:1200px;
	padding: 50px 0;
	margin: 0 auto;
}
.create-main .title{
	color:white;
}
.create-main .title-line{
	border-bottom: 2px solid white;
}
.create-text{
	font-size: 16px;
	color:white;
	letter-spacing:2.2px;
	line-height: 30px;
	margin-bottom:50px;
}
.create-form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.create-form input{
	background:none;
	border: 1px solid #909bcc;
	border-radius: 5px;
	width:540px;
	height:40px;
	margin:15px 0;
	padding: 0 20px;
	font-size: 15px;
}
.create-form input::-webkit-input-placeholder{
	color:#909bcc;
}
.create-form textarea{
	background:none;
	width:100%;
	padding:20px;
	border: 1px solid #909bcc;
	border-radius: 5px;	
	margin:15px 0;
	resize:none;
}
.create-form textarea::-webkit-input-placeholder{
	color:#909bcc;
}
.create-form input[type=button]{
	background-color: #eaeeff;
	color:#5977f6;
	width:270px;
	height:45px;
	line-height: 45px;
	cursor:pointer;
	font-size: 16px;
}
.tip{
	color:white;
	margin-top:25px;
}
.link-content{
	width:100%;
	height:100px;
}
.link-list{
	padding: 20px 50px;
	width:1100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}
.link-title{
	line-height: 65px;
}
.link-title span{
	font-weight: bold;
	padding-right:20px;
	border-right: 1px solid #e5e5e5;
}

.footer{
	width:100%;
	height:300px;
	background-color: #212123;
}
.footer-main{
	width:1100px;
	padding:50px 45px;
	margin: 0 auto;
}
.foot-list-title{
	color:#bababc;
}
.foot-list-line{
	border-bottom: 2px solid #8987f4;
	width:10px;
	margin:10px 0;
}
.foot-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.foot-list-title{
	font-weight: bold;
	color:#e0e0e2;
	font-size: 14px;
}
.foot-item{
	position: relative;
	width:220px;
}
.foot-item ul{
	position: absolute;
	left:-40px;
	margin:0;
}
.foot-item ul li{
	color:#b0b0b0;
	width:210px;
	height:30px;
	line-height: 30px;
	font-size: 12px;
	cursor: pointer;
}
.foot-item ul li:hover{
	color:white;
}
.copyright{
	width:100%;
	background:black;
	height:30px;
	text-align: center;
	color:#b0b0b0;
	line-height: 30px;
	font-size: 12px;
}
